<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Lssn.ch – Bienvenue !{% endblock %}</title>
  
  {% stylesheets
     '@LsnnCoreBundle/Resources/public/less/style.less'
     filter="lessphp"
  %}
     <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}


  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
              <li><a href="{{ path('lsnn_core_homepage') }}">Tout Lsnn</a></li>
              <li><a href="{{ path('about') }}">A propos</a></li>
              <li class="pull-right">
                <a href="{{ path('creative_create') }}">S'ajouter</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header style="margin-top:30px;margin-bottom:20px">
  </header>

  <section class="container">
    <div class="row">
      <div class="span12">
        <div class="lsnn-titles">
          <h1>LSNN <span>Créatifs lausannois</span></h1>
        </div>
      </div>
    </div>
  {% block body %}
    <div class="row">
      <div class="span12">
        {% block content %}{% endblock %}
      </div>
    </div>
  {% endblock %}
  </section>
  {% block javascripts %}
  {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
     <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% endblock %}
</body>
</html>
